

body {
    flex-direction: column;

}

form {
    width: 40%;
}

label {
    font-size: 22px;
    margin-bottom: 0px;
    display: block;
}

button {
    margin-top: 1.5rem;
}

h1 {
    margin-bottom: 3.5rem;
}

#olvidaste{
    font-size: large;
    display: block; 
    width: fit-content;
    color:#75c3ff;
    transition: color 0.4s ease;
    margin: 1rem auto;
}

a:hover{
    color:aqua;
}