/* #contenedor {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li {
    display: inline-block;
    margin: 10px;
}

li#chambeando {
    position: fixed;
    top: 10px;
}

li#ranking {
    position: fixed;
    top: 70px;
}

li#logros {
    position: fixed;
    top: 140px;
}

li#tienda {
    position: fixed;
    top: 210px;
}

li#perfil {
    position: fixed;
    top: 2800px;
}

#menu ul li img {
    vertical-align: middle;
    margin-right: 8px;
} */

/* * {
    background-color: rgb(255, 255, 255, 50%) !important;
} */

html {
    background-color: rgb(6, 24, 38);
}





/* #main {
    background-color: rgb(6, 24, 38);
} */

#contenedor {
    background-color: rgb(6, 24, 38);
    display: grid;
    grid-template-columns: 16% 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px;
}

#nombre_juego {
    position: fixed;
    bottom: 0;
}

#nombre_juego:hover {
    color: rgb(252, 194, 6);
}

#menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#menu li {
    padding: 15px;
    width: 14%;
}

li#chambeando {
    position: fixed;
    top: 10px;
}

li#ranking {
    position: fixed;
    top: 70px;
}

li#perfil {
    position: fixed;
    top: 210px;
}

li#tienda {
    position: fixed;
    top: 140px;
}

#menu ul li img {
    vertical-align: middle;
    margin-right: 8px;
}


#info {
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 10;
    right: 10px;
    width: 20%;
}

#info ul {
    display: flex;
    gap: 5px;
    list-style-type: none;
    margin: 0px;
    text-align: center;
    align-items: center;
    padding: 0px;
}

#info ul li {
    margin: 0px;
}

#info ul img {
    margin-left: 15px;
}

.icono {
    width: 30px;
    height: 30px;
    margin: 0px;
}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    gap: 10px;
    position: relative;
    width: 100%;
}

button.comprar, button.usar{
    font-size: 20px;
    width: 80%;
}

a {
    text-decoration: none;
    color: inherit;
}

#menu li:hover {
    background-color: rgb(186, 131, 222, 60%);
    border-radius: 10px;
}

.seleccionado, .seleccionado:hover {
    background-color: rgb(6, 161, 239) /* azul vivo */ !important;
    border-radius: 12px;
    color: white;
    padding: 10px 15px;
    /* margin: 5px 0; */
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

/* .seleccionado:hover {
    background-color: rgb(6, 161, 239);
    border-radius: 10px;
} */