.dynapuff {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}

body {
    font-family: "DynaPuff", system-ui, sans-serif;
    background-color: rgb(6, 24, 38);
    color: white;
    padding-top: 0px;
    /* margin: 0px; */
    font-size: 22px;
}

#principal {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    /* width: 80% !important; */
    margin: 50px auto;
}

#perfil-container {
    display: flex;
    width: 100%;
}

#avatar {
    position: relative;
    width: 40%;
    height: auto;
    margin: 10px;
}

#foto_perfil {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    z-index: 1;
}

.accesorio {
    position: absolute;
    z-index: 5;
    width: 40%;
    height: auto;
}

#cabeza {
    top: -5%;
    left: 34%;
}

#lentes {
    top: 19%;
    left: 31%;
    width: 45%;
}

#cuello {
    top: 61%;
    left: 42%;
    width: 25%;
}

#bolso {
    top: 75%;
    left: 15%;
    width: 25%;
}

.oculto {
    display: none;
}

#perfil_info {
    margin: 10px;
}

#progreso_titulo {
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0px;
}

#progreso {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

#barra_progreso {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 20px;
    overflow: hidden;
}

#progreso_completado {
    height: 100%;
    background-color: rgb(186, 131, 222);
    width: 70%; /* Este valor lo puedes actualizar dinámicamente */
    transition: width 0.3s ease;
}

#progreso h1 {
    margin: 10px;
}

#titulo {
    margin-bottom: 0px;
}

#lista_logros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-top: 0px;
    gap: 0px;
    font-size: 20px;
}

.logro {
    width: 80%;
    margin: 0px;
}

.col_logros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col_logros p {
    margin: 0px;
}

.oculto {
    display: none;
}