.dynapuff {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}

body {
    font-family: "DynaPuff", system-ui, sans-serif;
    background-color: rgb(6, 24, 38);
    color: white;
    padding-top: 0px;
    margin: 0px;
}

#contenedor {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li {
    /* display: inline-block;  */
    margin: 10px;
}

li#chambeando {
    position: fixed;
    top: 10px;
}

li#ranking {
    position: fixed;
    top: 70px;
}

li#logros {
    position: fixed;
    top: 140px;
}

li#tienda {
    position: fixed;
    top: 210px;
}

li#perfil {
    position: fixed;
    top: 2800px;
}

#menu ul li img {
    vertical-align: middle;
    margin-right: 8px;
}

h2 {
    position: fixed;
    bottom: 0;
}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    gap: 10px;
    position: relative;
    
}

#info {
    background-color: rgb(6, 24, 38);
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 10;
    right: 15px;
    margin-top: 0px;
}

#info ul {
    display: flex;
    gap: 5px;
    list-style-type: none;
    margin: 0px;
    text-align: center;
    align-items: center;
    padding: 0;
}

#info ul li{
    margin: 0px;
}

#info ul img{
    margin-left: 15px;
}

.icono {
    width: 30px;
    height: 30px;
    margin: 0px;
}

button {
    background: none;
    border: none;
    /* text-align: center; */
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.numero {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "DynaPuff", system-ui;
    font-size: 30px;
    font-weight: bold;
    color: white;
    z-index: 2;
}

.nivel {
    display: none;
}

button:hover .nivel {
    text-align: center;
    display: block;
    color: white;
}

button:hover .numero {
    top: 47%;
}

#niveles {
    display: grid;
    /* grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(7, 1fr); */
    background-image: url("assets/arbol.png");
    background-size: cover;
    /* background-position: center; */
    height: 120vh;
    background-repeat: no-repeat;
    width: 80vw;
}

#nivel_1 {
    position: absolute;
    top: 75vh;
    left: 15vw;
}

#nivel_2 {
    position: absolute;
    top: 72vh;
    left: 6vw;
}

#nivel_3 {
    position: absolute;
    top: 61vh;
    left: 12vw;
}

#nivel_4 {
    position: absolute;
    top: 52vh;
    left: 5vw;
}

#nivel_5 {
    position: absolute;
    top: 48vh;
    left: 17vw;
}

#nivel_6 {
    position: absolute;
    top: 40vh;
    left: 10vw;
}

#nivel_7 {
    position: absolute;
    top: 35vh;
    left: 3vw;
}

#nivel_8 {
    position: absolute;
    top: 28vh;
    left: 15vw;
} 

#nivel_9 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 
#nivel_10 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 
#nivel_11 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 

#nivel_12 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 
#nivel_13 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 

#nivel_14 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 

#nivel_15 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 

#nivel_16 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 
#nivel_17 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 
#nivel_18 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 
#nivel_19 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 
#nivel_20 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 

#nivel_21 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 
#nivel_22 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 
#nivel_23 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 
#nivel_24 {
    position: absolute;
    top:120vh;
    left: 5vw;
} 

.manzana {
    width: 80px;
    height: 80px;
    margin: 0px;
}
